<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur">
  <div class="container-fluid py-1">
    <a class="navbar-brand" href="{% url 'tasks:index' %}">Task Manager</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <form method="post" action="{% url 'accounts:logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
